apiVersion: v1
kind: Service
metadata:
  name: dns-operator-tcp-{{name}}
  namespace: {{namespace}}
  labels:
    app: dns-operator-{{name}}
    app.kubernetes.io/managed-by: "dns-operator"
spec:
  selector:
    app: dns-operator-{{name}}
  type: {{lbtype}}
  sessionAffinity: None
  ports:
  - name: dnstcp
    protocol: TCP
    port: 53
    targetPort: 1053