---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{name}}
  namespace: {{namespace}}
data:
  Corefile: |
    .:1053 {
      root /etc/coredns
      errors
      health
      ready
      prometheus :9153
      reload 2s 1s
      log
      {% for zone in zonelist -%}
      file db.{{zone}} {{zone}} {
        reload 2s
      }
      {% endfor -%}
      auto {% for zone in zonelist %}db.{{zone}} {% endfor %} {
        reload 2s
      }
    }
  {% for zone in zonelist -%}
  db.{{zone}}: |
    $ORIGIN {{zone}}.
    @   3600 IN SOA sns.dns.icann.org. noc.dns.icann.org. (
            2017042761 ; serial
            7200       ; refresh (2 hours)
            3600       ; retry (1 hour)
            1209600    ; expire (2 weeks)
            3600       ; minimum (1 hour)
            )
        3600 IN NS a.iana-servers.net.
        3600 IN NS b.iana-servers.net.
  {% endfor -%}
